html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
        meta(name="description" content="Black Bold Watch Face for Tizen")
        title Black Bold
        link(rel="stylesheet" type="text/css" href="css/style.css")
    body 
        img.bg(src="image/bg.svg")
        hr.middle
        .center
        #SecondPointer.FixedCenter
            img.SecondPointer(src="image/ScHand.svg")
        #MinutePointer.FixedCenter
            img.MinutePointer(src="image/MnHand.svg")
        #HourPointer.FixedCenter
            img.HourPointer(src="image/HrHand.svg")
        .HourText 
        .DateText
        script(src="js/app.js")
