html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
    background-color: black;
}
.middle{
    width: 100vw;
    height: 1px;
    background-color: blue;
    position: fixed;
    bottom: 50vh;
    top: 50vh;
    margin-top: -.5px;
}
.center{
    width: 1px;
    height: 100vh;
    border: 0 0 0 1px solid blue;
    position: fixed;
    left: 50%;
    right: 50%;
    margin-left: -1px;
}
.bg {
    width: 100vw;
    height: 100vh;
}

.FixedCenter{
    position: fixed;
    left: 50%;
    right: 50%;
    bottom: 50vh;
    transform-origin: center bottom;
    transition: all .1s linear;
}
.TimeHand{
    width: 1.66vw
}
.HourPointer {
    width: 1.66vw;
    height: 33vh;
    margin-left: -.83vw;
    position: absolute;
    bottom: -8.5%
}
.MinutePointer {
    width: 1.11vw;
    height: 25vh;
    margin-left: -.555vw;
    /* margin-bottom: -8.25vw; */
    position: absolute;
    bottom: -2.5%

}
.SecondPointer {
    width: 1vw;
    height: 29vh;
    margin-left: -.5vw;
    position: absolute;
    bottom: -1.5vh

}